{% extends 'custom_admin/base.html' %}

{% block admin %}
    <li><a href="{% url 'admin_home' %}" class="nav-link px-2 text-white fw-bold text-uppercase">Admin Dashboard</a></li>
    <li><a href="{% url 'user_index' %}" class="nav-link px-2 text-white fw-bold text-uppercase">View Site</a></li>
{% endblock %}

{% block nav %}
    <button type="button" class="btn btn-outline-light text-capitalize me-2">{{ request.user }}</button>
    <a href="{% url 'admin_logout' %}">
        <button type="button" class="btn btn-warning">Logout</button>
    </a>
{% endblock %}

{% block body %}
    <h1 class="text-center text-uppercase fw-bold mt-3"> Welcome {{ request.user }}</h1>
    <div class="container mt-3">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                <h4 class="text-uppercase fw-bold px-2 mt-3">Users List
                    <a href="{% url 'admin_create_user' %}"><button type="button" class="btn btn-warning">Create User</button></a>
                    <a href="{% url 'admin_user_model' %}"><button type="button" class="btn btn-warning">User Table</button></a>
                </h4>
                    <form action='' method='POST'>
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="{{ data|default:"username" }}" name="data" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                        </div>
                    </form>
                <ul class="list-group">
                    {% for user in users %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{ user | capfirst}}
                            <a href={% url 'admin_user_details' user.id %}><span class="badge text-bg-primary rounded-pill">Details</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}